---
// 🖼️ Layout
import BaseLayout from "@web/layout/BaseLayout/BaseLayout.astro";
import PageLayout from "@web/layout/PageLayout/PageLayout.astro";

const { searchParams } = Astro.url;
const mode = searchParams.get("mode");
const hasGifts = searchParams.has("has_gifts");

export const prerender = false;

const SITE_URL = "/";
const MAIL = "redaction@frustrationmagazine.fr";
---

<script>
  import { balloons } from "balloons-js";
  console.log("balloons", balloons);
  balloons();
</script>

<PageLayout title="Merci pour votre soutien !">
  <article slot="content">
    <!-- 🅰️ Titles -->
    <h2 class="font-bakbak text-balance text-center text-6xl font-bold mb-8">
      Merci pour votre soutien !
    </h2>
    <!-- 🔠 Content -->
    {
      mode === "payment" ? (
        <>
          <p class="mb-3">
            Votre don de soutien a bien été reçu ! 🎉 Nous avons hâte de vous
            partager tous les projets que nous vous préparons pour 2025 !
          </p>
          <p class="mb-3">
            N'hésitez pas à{" "}
            <b>
              nous contacter à{" "}
              <a
                class="text-blue underline"
                href={`mailto:${MAIL}`}>
                {MAIL}
              </a>
            </b>
            si vous avez des questions.
          </p>
          <p class="mb-3">
            En attendant, vous pouvez continuer{" "}
            <a
              class="text-blue underline"
              href={SITE_URL}>
              à naviguer sur notre site
            </a>{" "}
            pour découvrir nos derniers articles et vidéos 😉
          </p>
        </>
      ) : mode === "subscription" ? (
        <>
          <p class="mb-5 text-2xl font-bold text-center">
            Votre abonnement est bien activé ! 🎉
          </p>
          {hasGifts ? (
            <>
              <p class="mb-3">
                Vous recevrez d'ici quelques semaines vos <b>contreparties</b> à
                l'adresse que vous avez renseignée lors de votre paiement.
                N'hésitez pas à{" "}
                <b>
                  nous contacter à{" "}
                  <a
                    class="text-blue underline"
                    href={`mailto:${MAIL}`}>
                    {MAIL}
                  </a>
                </b>
                si vous avez des questions ou besoin d'effectuer une
                modification.
              </p>
            </>
          ) : (
            <p class="mb-3">
              N'hésitez pas à{" "}
              <b>
                nous contacter à{" "}
                <a
                  class="text-blue underline"
                  href={`mailto:${MAIL}`}>
                  {MAIL}
                </a>
              </b>
              si vous avez des questions.
            </p>
          )}
          <p class="mb-3">
            En attendant, vous pouvez continuer
            <a
              class="text-blue underline"
              href={SITE_URL}>
              à naviguer sur notre site
            </a>{" "}
            pour découvrir nos derniers articles et vidéos 😉
          </p>
        </>
      ) : null
    }
  </article>
</PageLayout>
