---
import { Image } from "astro:assets";

const currentYear = new Date().getFullYear();

const loadNetworkIcon = async (iconName: string) =>
  (await import(`./icons/${iconName}.svg`)).default;
const networks = [
  {
    name: "Twitter",
    url: "https://twitter.com/Frustration_web",
    iconName: await loadNetworkIcon("X"),
  },
  {
    name: "Facebook",
    url: "https://www.facebook.com/FrustrationMag",
    iconName: await loadNetworkIcon("facebook"),
  },
  {
    name: "Youtube",
    url: "https://www.youtube.com/channel/UCHCwlzgXqqjrNxfVOmLsU5w",
    iconName: await loadNetworkIcon("youtube"),
  },
  {
    name: "TikTok",
    url: "https://www.tiktok.com/@frustrationmag",
    iconName: await loadNetworkIcon("tiktok"),
  },
  {
    name: "Instagram",
    url: "https://www.instagram.com/frustrationmag/",
    iconName: await loadNetworkIcon("instagram"),
  },
  {
    name: "Flux RSS",
    url: "https://www.frustrationmagazine.fr/feed",
    iconName: await loadNetworkIcon("rss"),
  },
];

const credits = [
  {
    name: "Farton Bink",
    role: "Montage vidéo",
  },
  {
    name: "Antoine Glorieux",
    role: "Illustrations",
  },
  {
    name: "Thibaut Izard",
    role: "Développement web",
  },
];

const links = [
  {
    name: "Mentions légales",
    url: "/mentions-legales",
  },
  {
    name: "Politique de confidentialité",
    url: "/politique-de-confidentialite",
  },
];
---

<footer class={`bg-footer bg-contain pt-10`}>
  <div
    class="informations m-auto flex max-w-[1700px] flex-wrap justify-between gap-10 px-6 py-12 lg:px-20 lg:py-20">
    <div class="titles w-full">
      <h2
        class="font-bebas text-6xl text-center sm:text-left sm:text-7xl uppercase leading-[80%] tracking-tighter">
        Frustration Magazine
      </h2>
      <h4 class="font-bebas text-3xl uppercase leading-none">
        Le média de la lutte des classes
      </h4>
      <p class="font-open-sans text-base">© Frustration – {currentYear}</p>
    </div>

    <div class="module-newsletter mt-10 flex flex-grow basis-[47%] flex-col">
      <h5 class="mb-2 font-bebas text-3xl uppercase leading-[80%] lg:mb-1">
        Nous suivre (jusqu'à la révolution)
      </h5>
      <p class="mb-6 font-open-sans text-base leading-tight">
        Recevez régulièrement une sélection de nos meilleurs articles récemment
        parus !
      </p>
      <form class="flex flex-col gap-3">
        <input
          class="px-5 py-2 text-sm"
          name="name"
          placeholder="Nom"
          type="text"
        />
        <input
          class="text-red-100 px-5 py-2 text-sm"
          name="email"
          placeholder="Email"
          type="email"
        />
        <button
          type="submit"
          class="bg-black py-2 font-open-sans text-base font-bold text-yellow"
          >S'inscrire à la newsletter</button
        >
      </form>
    </div>

    <div
      class="module-social-networks-credits mt-10 flex min-h-[150px] flex-grow basis-[47%] flex-col justify-between">
      <div class="social-networks">
        <h5 class="mb-3 font-bebas text-3xl uppercase leading-[80%]">
          Nos réseaux sociaux
        </h5>
        <ul class="social-networks-links flex items-center gap-3">
          {
            networks.map(({ name, url, iconName }) => (
              <li>
                <a
                  aria-label={name}
                  href={url}
                  target="_blank">
                  <Image
                    src={iconName}
                    width="25"
                    height="25"
                    alt={name}
                    title={`Accéder à notre ${name}`}
                  />
                </a>
              </li>
            ))
          }
        </ul>
      </div>
      <div class="credits flex flex-col gap-1">
        {
          credits.map(({ name, role }) => (
            <p class="font-open-sans leading-none">
              <span class="font-bold">{role} :</span>
              <span class="font-light">{name}</span>
            </p>
          ))
        }
      </div>
    </div>
  </div>
  <!-- Useful links -->
  <ul
    class="flex items-center justify-center gap-4 bg-black py-1 font-bebas text-sm text-yellow lg:py-2 lg:text-lg">
    {
      links.map(({ name, url }) => (
        <a
          href={url}
          class="useful-link relative before:absolute before:bottom-0 before:left-1/2 before:block before:h-[2px] before:w-[0] before:translate-x-[-50%] before:bg-yellow before:transition-all before:content-[''] before:hover:w-full">
          <li>{name}</li>
        </a>
      ))
    }
  </ul>
</footer>
