---
import TagIcon from "../assets/icons/tag.svg?raw";
const { author, date, categories } = Astro.props;
import AuthorPicture from "./AuthorPicture.astro";
---

<div class="flex items-center text-sm md:text-base">
  <AuthorPicture
    author={author}
    size={20}
  />
  <span>{author}</span>
  <span class="mx-1">|</span>
  {date}
  <div class="categories ml-auto flex items-center gap-2">
    {
      categories.map((category: any) => (
        <div class="flex items-center [&>svg]:mr-1.5 [&>svg]:w-[15px]">
          <Fragment set:html={TagIcon} />
          <span>{category}</span>
        </div>
      ))
    }
  </div>
</div>
