---
// 🖼️ Layout
import PageLayout from "@web/layout/PageLayout/PageLayout.astro";
import Results from "./_components/Results";
import { fetchSearchPosts } from "@libs/wordpress";
import H2 from "@components/H2";

const url = new URL(Astro.request.url);
const searchParams = new URLSearchParams(url.searchParams);

let term = "";
let category = null;
let author = null;
if (searchParams) {
  term = searchParams.get("term") ?? "";
  category = searchParams.get("category") ?? null;
  author = searchParams.get("author") ?? null;
}

const { posts, pageInfo } = await fetchSearchPosts({
  term,
  category,
  author,
});

// prettier-ignore
const title = term     ? `Résultats pour "${term}"` :
              category ? `Catégorie "${category.replaceAll('_', ' ')}"` :
              author   ? `Tous les articles de ${author.replaceAll(/[^a-zA-Z]/g, ' ')}` :
              "Tous les articles";

export const prerender = false;
---

<PageLayout title={title}>
  <article slot="content">
    <H2>
      {title}
    </H2>
    <Results
      client:idle
      term={term}
      category={category}
      author={author}
      initialPosts={posts}
      initialPageInfo={pageInfo}
    />
  </article>
</PageLayout>
