---
import { cn } from "@/libs/tailwind";
import { Image } from "astro:assets";
import { GrArticle } from "react-icons/gr";

const { author } = Astro.props;
---

<div
  class={cn(
    "shadow-md bg-card-author rounded-xl text-white",
    "p-3 my-3",
    "sm:p-6 sm:my-5 ",
  )}>
  <div class={cn("flex items-center", "gap-4", "sm:gap-6")}>
    <div class={cn("shrink-0 size-11", "sm:size-14", "lg:size-16")}>
      <Image
        title={author.full_name}
        alt={author.full_name}
        width={100}
        height={100}
        src={author.picture}
        class="inline rounded-full w-full h-full"
      />
    </div>

    <div>
      <h5 class={cn("font-bebas", "text-3xl", "sm:text-5xl")}>
        {author.full_name}
      </h5>
      {
        author.role ? (
          <h6 class={cn("font-bebas !leading-none", "text-lg", "sm:text-xl")}>
            {author.role}
          </h6>
        ) : null
      }
      <a
        class={cn(
          "mt-1 font-open-sans font-semibold flex items-center gap-1.5",
          "text-xs",
          "sm:text-sm ",
        )}
        href={`/posts?author=${author.slug}`}>
        <GrArticle />
        <span> Tous les articles </span>
      </a>
    </div>
  </div>
</div>
