---
import PageLayout from "../PageLayout/PageLayout.astro";
import { cn } from "@libs/tailwind";
import { getEntry, getCollection } from "astro:content";

import Title from "./components/Header/Title.astro";
import Metadata from "./components/Header/Metadata.astro";
import FeaturedImage from "./components/Header/FeaturedImage.astro";

import "./wordpress.css";

import CardAuthor from "./components/Footer/CardAuthor.astro";
import Banner from "./components/Footer/Banner.astro";
import PostSummary from "./components/PostSummary";

import ScrollWatcher from "./components/ScrollWatcher.astro";
import MoreArticles from "./components/Footer/MoreArticles";

const {
  title,
  author: {
    node: { userId },
  },
  categories: { nodes: categories },
  date,
} = Astro.props;

const featuredImage = Astro.props?.featuredImage?.node;

const authors = await getCollection("authors");
const DEFAULT = await getEntry("authors", "default");
const author =
  authors.find(({ data: { id } }) => id === userId)?.data ?? DEFAULT?.data;
---

<PageLayout {...Astro.props}>
  <ScrollWatcher slot="header" />
  <article slot="content">
    <!-- Header -->
    <div class="mb-[30px]">
      <Title>
        <Fragment set:html={title} />
      </Title>
      <Metadata
        author={author}
        date={date}
        categories={categories}
      />
    </div>
    {featuredImage ? <FeaturedImage featuredImage={featuredImage} /> : null}

    <!-- Text -->
    <section class="content">
      <slot name="content" />
    </section>

    <!-- Footer -->
    <CardAuthor author={author} />
    <Banner />
    <MoreArticles client:idle />
  </article>

  <!-- Summary -->
  <div
    slot="right"
    class={cn(
      "sticky top-[75px] mx-12",
      "hidden",
      "xl:max-w-[300px] xl:block",
      "2xl:max-w-[600px] ",
    )}>
    <PostSummary client:load />
  </div>
</PageLayout>
