---
import PageLayout from "@web/layout/PageLayout/PageLayout.astro";
import { Input } from "@components/ui/input";
import { Textarea } from "@components/ui/textarea";
import { Button } from "@components/ui/button";
import { cn } from "@libs/tailwind";
import { Resend } from "resend";

const resend = new Resend(process.env.RESEND_API_KEY);

const ERROR_STATUS = {
  type: "error",
  message: "Une erreur inattendue est survenue",
};

const SUCCESS_STATUS = {
  type: "success",
  message:
    "🙂 Votre message a bien été envoyé ! Nous tâcherons de vous répondre dans les plus brefs délais",
};
let status = null;

if (Astro.request.method === "POST") {
  // ❌ Early return if the api key is not set
  if (!process.env.RESEND_API_KEY) {
    console.warn("🔎 Missing api key to add subscriber");
    status = ERROR_STATUS;
  }

  const dateOptions = {
    day: "2-digit",
    month: "2-digit",
    year: "numeric",
    hour: "2-digit",
    minute: "2-digit",
    second: "2-digit",
    hour12: false,
    timeZone: "Europe/Paris",
  };

  const now = new Date();
  const formattedDate = now.toLocaleString("fr-FR", dateOptions);

  try {
    const data = await Astro.request.formData();
    const email = data.get("email");
    const message = data.get("message");

    await resend.emails.send({
      from: "redaction@frustrationmagazine.fr",
      to: ["redaction@frustrationmagazine.fr"],
      subject: `Formulaire de contact - ${email}`,
      html: `
      <h3>Demande envoyée par : ${email} le ${formattedDate}</h3>
      <h5>Message :</h5>
      <p>${message}</p>
      `,
    });

    status = SUCCESS_STATUS;
  } catch (error) {
    if (error instanceof Error) console.error(error.message);
    status = ERROR_STATUS;
  }
}

export const prerender = false;
---

<PageLayout title="Nous contacter">
  <article slot="content">
    <!-- 🅰️ Titles -->
    <h2
      class={cn(
        "text-balance text-center font-parisienne font-bold",
        "mb-6 text-4xl",
        "sm:mb-6 sm:text-5xl",
        "md:zs-8 md:mb-8 md:text-5xl",
        "lg:mb-10 lg:text-8xl",
      )}>
      Chère Frustration,
    </h2>
    <div
      class={cn(
        "font-open-sans space-y-3 text-center",
        "text-base space-y-1",
        "sm:text-xl sm:space-y-2",
      )}>
      <p>Une réaction à chaud ?</p>
      <p>Une question qui vous turlupine ?</p>
      <p>Une idée d'article ou d'enquête ?</p>
    </div>
    <p
      class={cn(
        "font-bold font-open-sans my-10 text-center",
        "text-2xl",
        "sm:text-3xl",
      )}>
      N'hésitez pas à nous écrire !
    </p>
    <form
      id="chere-frustration"
      method="POST"
      class="flex flex-col gap-4 font-open-sans">
      <Input
        type="email"
        placeholder="Votre email de contact"
        name="email"
        id="email"
        required
      />
      <Textarea
        name="message"
        placeholder="Votre message"
        rows={10}
        minLength={10}
        maxLength={5000}
        id="message"
        required
      />
      {
        status &&
          (status.type === "error" ? (
            <p class="bg-red-200 text-red-700 p-4">
              😔 Une erreur est survenue. Veuillez réessayer ou nous contacter
              directement à l'adresse{" "}
              <a
                href="redaction@frustrationmagazine.fr"
                class="underline font-bold">
                redaction@frustrationmagazine.fr
              </a>{" "}
              si le problème persiste.
            </p>
          ) : status.type === "success" ? (
            <p class="bg-green-200 text-green-700 p-4">{status.message}</p>
          ) : null)
      }
      <Button
        type="submit"
        className="text-xl font-bakbak w-fit px-8 bg-black hover:bg-black hover:text-yellow text-yellow py-6 mx-auto"
        >Envoyer</Button
      >
    </form>
  </article>
</PageLayout>
<script></script>
