---
// 🖼️ Layout
import BaseLayout from "@web/layout/BaseLayout/BaseLayout.astro";
import PageLayout from "@web/layout/PageLayout/PageLayout.astro";

// 🧱 Components
import H2 from "@components/H2";
import H3 from "@components/H3";

// 🧰 Config
const currentYear = new Date().getFullYear();

// 🎨 Styles
const linkStyle = "text-blue underline";
---

<PageLayout title="Mentions légales">
  <article slot="content">
    <H2> Mentions légales </H2>
    <div class="space-y-10">
      <!-- Données personnelles -->
      <div class="space-y-2">
        <H3>Données personnelles</H3>
        <p>
          <b>Politique de confidentialité</b>
          Nous collectons et traitons vos données personnelles conformément à la
          réglementation en vigueur. Les données personnelles collectées sur le site
          ne sont en aucun cas cédées ou vendues à des tiers. Elles sont uniquement
          utilisées pour les besoins de la communication de l’association Frustration
          magazine et de ses activités. Plus d'informations sur <a
            class={linkStyle}
            href="politique-de-confidentialite"
            >notre politique de confidentialité</a
          >.
        </p>
        <p>
          <b
            >Droit d’accès, de rectification et de suppression des données
            personnelles</b
          >
          Conformément à la loi Informatique et Libertés, vous disposez d’un droit
          d’accès, de rectification et de suppression des données vous concernant.
          Pour exercer ce droit, veuillez nous contacter à l'adresse suivante <a
            class={linkStyle}
            href="mailto:redaction@frustrationmagazine.fr"
            >redaction@frustrationmagazine.fr</a
          >
        </p>
      </div>

      <!-- Cookies -->
      <div class="space-y-2">
        <H3>Cookies</H3>
        <p>
          <b>Information sur l'utilisation des cookies</b>
          Frustration Magazine n'utilise pas de cookies.
        </p>
      </div>

      <!-- Identité de l'éditeur du site -->
      <div class="space-y-2">
        <H3>Identité de l'éditeur du site</H3>
        <p>
          <b>Directeur de la publication</b> Nicolas Framont
        </p>
        <p>
          <b>Contact</b>
          <a
            class={linkStyle}
            href="mailto:redaction@frustrationmagazine.fr"
            >redaction@frustrationmagazine.fr</a
          >
        </p>
        <p>
          <b>SIRET</b> 81107310500017
        </p>
        <p>
          <b>ISSN</b> 2272-4478
        </p>
      </div>

      <!-- Hébergeur du site -->
      <div class="space-y-2">
        <H3>Hébergeur du site</H3>
        <p>
          <b>Nom de l'hébergeur</b> Vercel
        </p>
        <p>
          <b>Site de l'hébergeur</b>
          <a
            class={linkStyle}
            href="https://vercel.com"
            >https://vercel.com</a
          >
        </p>
      </div>

      <!-- Conditions générales d'utilisation (CGU)-->
      <div class="space-y-2">
        <H3>Conditions générales d'utilisation (CGU)</H3>
        <p>
          <b>Conditions d'accès et d'utilisation du site</b>
          <span>
            Les contenus gratuits disponibles sur ce site sont destinés à un
            usage personnel uniquement. Toute utilisation à des fins
            commerciales est strictement interdite.
          </span>
        </p>
        <p>
          <b>Propriété intellectuelle</b>
          <span>
            L’association loi 1901 Frustration magazine est propriétaire de
            l’ensemble des contenus produits à titre gracieux dans le cadre de
            ses activités et se réserve, en tant que structure ou via des tiers,
            tous droits de commercialisation desdits contenus.
          </span>
        </p>
      </div>
    </div>
    <div class="mt-10">
      Frustration magazine
      <p>
        © {currentYear} | Tous droits réservés
      </p>
    </div>
  </article>
</PageLayout>
