---
import Card from "./Card.astro";
import {
  fetchArticle,
  formatTitleFromRawArticleData,
  formatAuthorFromRawArticleData,
  formatSlugFromRawArticleData,
  formatDateFromRawArticleData,
  formatCategoriesFromRawArticleData,
  formatImageFromRawArticleData,
  formatExcerptFromRawArticleData,
} from "src/data/wordpress";
import type { ArticleRaw } from "src/data/wordpress";
import H2 from "../H2.astro";
import SECTION from "../SECTION.astro";
import TousLesArticles from "./TousLesArticles.astro";
const ARTICLES_TO_DISPLAY = 9;
const articles = (await fetchArticle({ first: ARTICLES_TO_DISPLAY }, ["title", "author", "slug", "excerpt", "date", "categories", "image"])) as ArticleRaw[];
---

<SECTION>
  <H2 position="left">À la une</H2>
  <!-- TODO // replace flex properties by this grid layout
              display: grid;
              grid-template-columns: repeat(auto-fit, minmax(max(30%, 300px), 1fr)); -->
  <div class="flex w-full flex-wrap items-start justify-center gap-8 md:gap-3 xl:gap-4">
    {
      articles.map((article: ArticleRaw) => (
        <Card
          title={formatTitleFromRawArticleData(article)}
          authorName={formatAuthorFromRawArticleData(article)}
          slug={formatSlugFromRawArticleData(article)}
          excerpt={formatExcerptFromRawArticleData(article)}
          image={formatImageFromRawArticleData(article)}
          date={formatDateFromRawArticleData(article)}
          categories={formatCategoriesFromRawArticleData(article)}
        />
      ))
    }
  </div>
  <TousLesArticles />
</SECTION>
