---
import { Image } from "astro:assets";
import { Newspaper } from "lucide-react";
import { cn } from "@libs/tailwind";
const {
  title,
  slug,
  excerpt,
  featuredImage: { node: featuredImage },
} = Astro.props;

const IMAGE_SIZE = 1200;
---

<li class="splide__slide relative">
  <a href={`/${slug}`}>
    <div
      class="font-bakbak absolute left-[50%] top-[50%] w-[90%] max-w-[1000px] translate-x-[-50%] translate-y-[-50%]">
      <h3
        class={cn(
          "mb-4 uppercase leading-1 text-balance bg-black px-10 py-4 text-center font-bakbak font-bold text-yellow",
          "text-2xl",
          "sm:text-3xl",
          "md:text-4xl",
          "lg:text-4xl",
          "xl:text-5xl",
          "3xl:text-6xl",
        )}>
        {title}
      </h3>
      <div
        class="hidden xl:block [&>p]:inline [&>p]:text-balance [&>p]:bg-yellow [&>p]:text-center [&>p]:text-xl [&>p]:font-bold [&>p]:leading-snug [&>p]:text-black"
        set:html={excerpt}
      />
      <div
        class="m-auto mt-6 flex w-fit items-center gap-1 bg-yellow px-5 py-1 font-bakbak text-lg font-bold text-black md:gap-2 md:py-2 md:text-xl lg:px-6 lg:py-2 lg:text-2xl xl:gap-3 xl:bg-black xl:text-yellow">
        <Newspaper size={20} />
        <span>Lire</span>
      </div>
    </div>
  </a>
  <Image
    class="h-full w-full object-cover"
    src={featuredImage.sourceUrl}
    width={IMAGE_SIZE}
    height={IMAGE_SIZE}
    alt={featuredImage.altText}
    title={featuredImage.title}
    loading="eager"
  />
</li>
