---
interface Props {
  title: string;
  author: any;
  description: string;
  ogImageUrl: string;
  width?: number;
  height?: number;
  mimeType?: string;
}
const { title, description, ogImageUrl, width, height, mimeType } = Astro.props;
const permalink = new URL(Astro.url.pathname, Astro.site).href;
const author = Astro.props.author?.node;
const authorFullname = `${author?.firstName} ${author?.lastName}`;

const RANDOM_QUERY_PARAM_TO_FORCE_TWITTER_CARD_VALIDATOR_TO_REFETCH_IMAGE =
  Math.round(Math.random() * 1000);
---

<head>
  <!-- Primary Meta Tags -->
  <title>{title}</title>
  <meta charset="UTF-8" />
  <meta
    name="robots"
    content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1"
  />

  <link
    rel="sitemap"
    href="/sitemap-index.xml"
  />

  <!-- RSS -->
  <link
    rel="alternate"
    type="application/rss+xml"
    title="Your Site's Title"
    href={new URL("rss.xml", Astro.site)}
  />
  <!-- RSS -->

  <meta
    name="title"
    content={title}
  />
  <meta
    name="author"
    content={authorFullname}
  />
  <meta
    name="description"
    content={description}
  />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1"
  />
  <meta
    name="generator"
    content={Astro.generator}
  />

  <link
    rel="icon"
    type="image/x-icon"
    href="/img/favicon_light.png"
  />

  <!-- Open Graph / Facebook -->
  <meta
    property="og:type"
    content="website"
  />
  <meta
    property="og:url"
    content={permalink}
  />
  <meta
    property="og:title"
    content={title}
  />
  <meta
    property="og:description"
    content={description}
  />
  <meta
    property="og:image"
    content={`${ogImageUrl}?${RANDOM_QUERY_PARAM_TO_FORCE_TWITTER_CARD_VALIDATOR_TO_REFETCH_IMAGE}`}
  />
  <meta
    property="og:locale"
    content="fr_FR"
  />
  <meta
    property="og:type"
    content="article"
  />
  {
    width ? (
      <meta
        property="og:image:width"
        content={String(width)}
      />
    ) : null
  }
  {
    height ? (
      <meta
        property="og:image:height"
        content={String(height)}
      />
    ) : null
  }
  <meta
    property="og:image:type"
    content={mimeType}
  />
  <meta
    property="og:site_name"
    content="Frustration Magazine"
  />

  <!-- X -->
  <meta
    name="twitter:card"
    content="summary_large_image"
  />
  <meta
    name="twitter:url"
    content={permalink}
  />
  <meta
    name="twitter:title"
    content={title}
  />
  <meta
    name="twitter:description"
    content={description}
  />
  <meta
    name="twitter:image"
    content={`${ogImageUrl}?${RANDOM_QUERY_PARAM_TO_FORCE_TWITTER_CARD_VALIDATOR_TO_REFETCH_IMAGE}`}
  />
  <meta
    name="twitter:creator"
    content="@Frustration_web"
  />
  <meta
    name="twitter:site"
    content="@Frustration_web"
  />
</head>
